* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

nav header {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 2px solid black;
}
nav ul {
  max-height: 300px;
  list-style-type: none;
  overflow-y: scroll;
}
nav a {
  border-bottom: 1px solid darkgrey;
  padding: 1em;
  display: inline-block;
  width: 100%;
  font-size: 1.3em;
  color: rgb(51, 51, 51);
  text-decoration: none;
}

main {
  border-top: 2px solid black;
}
main header {
  margin: 1em 0.5em;
  font-size: 2em;
  /* padding: ; */
}
main article {
  font-size: 1.2em;
  padding: 0 2em;
}
main p {
  line-height: 1.5em;
}
main ul {
  margin-left: 2em;
}
main li {
  line-height: 1.5em;
}
main code {
  display: block;
  font-family: monospace;
  background-color: rgb(238, 236, 236);
  margin: 0.5em 0;
  padding: 0.2em;
}

#Reference {
  margin-bottom: 2em;
}
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 350px;
    height: 100%;
    border-right: 2px solid darkgray;
  }
  nav header {
    font-size: 1em;
  }
  nav ul {
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  nav a {
    padding: 0.5em;
    margin-left: 1em;
    font-size: 1em;
  }

  main {
    border: none;
    margin-left: 350px;
  }
}
